<title>Calculator | HomePrepared</title>

<h1>Are you qualified for homeownership?</h1>
<form>
    <label id="1">Input your gross monthly income:</label>
    <input id="2" type="number" name="income">
    <label id="3">Input your monthly credit card payment:</label>
    <input id="4" type="number" name="credit_card">
    <label id="5">Input your monthly car payment:</label>
    <input id="6" type="number" name="car">
    <label id="7">Input your monthly student loan payment:</label>
    <input id="8" type="number" name="student_loan">
    <label id="9">Input your desired home's appraised value:</label>
    <input id="10" type="number" name="appraised_value">
    <label id="11">Input your down payment:</label>
    <input id="12" type="number" name="down_payment">
    <label id="13">Input your loan amount:</label>
    <input id="14" type="number" name="loan_amount">
    <label id="15">Input your monthly mortgage payment:</label>
    <input id="16" type="number" name="mortgage_payment">
    <label id="17">Input your credit score:</label>
    <input id="18" type="number" name="credit_score">
    <input id="19" type="submit">
</form>
<script>
    for (let i=0; i < 5; i++) {

    }
</script>