<head>
    <title>Calculator | HomePrepared</title>

    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
</head>
<body>
<div class="flex h-screen">

<form method="post" action={{url_for('user_results')}} class="p-10 m-auto shadow-lg flex flex-col items-center h-2/4 bg-cyan-50 text-cyan-950 justify-around rounded-lg">
    <h1 class="text-3xl">Are you qualified for homeownership?</h1>
    <input style='display:none' disabled style='display:none' type="submit">
    <label id="l1">Input your gross monthly income:</label>
    <input class="p-3 ring-1 hover:ring-2 ring-inset rounded-md" id="i1" type="number" name="income">
    <button class="p-5 bg-cyan-700 text-cyan-50 rounded-md hover:bg-cyan-800 hover:ring-1 hover:ring-inset" type="button" id="b1" onclick="showNext(2)">NEXT</button>
    <label class="ring1 ring-inset" style='display:none' id="l2">Input your monthly credit card payment:</label>
    <input class="p-3 ring-1 hover:ring-2 ring-inset rounded-md" style='display:none' id="i2" type="number" name="credit_card">
    <button class="p-5 bg-cyan-700 text-cyan-50 rounded-md hover:bg-cyan-800 hover:ring-1 hover:ring-inset" style='display:none' type="button" id="b2" onclick="showNext(3)">NEXT</button>
    <label style='display:none' id="l3">Input your monthly car payment:</label>
    <input class="p-3 ring-1 hover:ring-2 ring-inset rounded-md" style='display:none' id="i3" type="number" name="car">
    <button class="p-5 bg-cyan-700 text-cyan-50 rounded-md hover:bg-cyan-800 hover:ring-1 hover:ring-inset" style='display:none' type="button" id="b3" onclick="showNext(4)">NEXT</button>
    <label style='display:none' id="l4">Input your monthly student loan payment:</label>
    <input class="p-3 ring-1 hover:ring-2 ring-inset rounded-md" style='display:none' id="i4" type="number" name="student_loan">
    <button class="p-5 bg-cyan-700 text-cyan-50 rounded-md hover:bg-cyan-800 hover:ring-1 hover:ring-inset" style='display:none' type="button" id="b4" onclick="showNext(5)">NEXT</button>
    <label style='display:none' id="l5">Input your desired home's appraised value:</label>
    <input class="p-3 ring-1 hover:ring-2 ring-inset rounded-md" style='display:none' id="i5" type="number" name="appraised_value">
    <button class="p-5 bg-cyan-700 text-cyan-50 rounded-md hover:bg-cyan-800 hover:ring-1 hover:ring-inset" style='display:none' type="button" id="b5" onclick="showNext(6)">NEXT</button>
    <label style='display:none' id="l6">Input your down payment:</label>
    <input class="p-3 ring-1 hover:ring-2 ring-inset rounded-md" style='display:none' id="i6" type="number" name="down_payment">
    <button class="p-5 bg-cyan-700 text-cyan-50 rounded-md hover:bg-cyan-800 hover:ring-1 hover:ring-inset" style='display:none' type="button" id="b6" onclick="showNext(7)">NEXT</button>
    <label style='display:none' id="l7">Input your loan amount:</label>
    <input class="p-3 ring-1 hover:ring-2 ring-inset rounded-md" style='display:none' id="i7" type="number" name="loan_amount">
    <button class="p-5 bg-cyan-700 text-cyan-50 rounded-md hover:bg-cyan-800 hover:ring-1 hover:ring-inset" style='display:none' type="button" id="b7" onclick="showNext(8)">NEXT</button>
    <label style='display:none' id="l8">Input your monthly mortgage payment:</label>
    <input class="p-3 ring-1 hover:ring-2 ring-inset rounded-md" style='display:none' id="i8" type="number" name="mortgage_payment">
    <button class="p-5 bg-cyan-700 text-cyan-50 rounded-md hover:bg-cyan-800 hover:ring-1 hover:ring-inset" style='display:none' type="button" id="b8" onclick="showNext(9)">NEXT</button>
    <label style='display:none' id="l9">Input your credit score:</label>
    <input class="p-3 ring-1 hover:ring-2 ring-inset rounded-md" style='display:none' id="i9" type="number" name="credit_score">
    <input class="p-5 bg-cyan-800 text-cyan-50 rounded-md hover:bg-cyan-900 hover:ring-1 hover:ring-inset" style='display:none' id="b9" type="submit" value="SUBMIT">
</form>
</div>
<script>

function showNext(n) {
    let oldLabel = document.getElementById("l" + (n-1).toString());
    let oldValue = document.getElementById("i" + (n-1).toString());
    let oldButton = document.getElementById("b" + (n-1).toString());

    if (oldValue.value == '') return;

    oldLabel.style.display = 'none';
    oldValue.style.display = 'none';
    oldButton.style.display = 'none';

    let newLabel = document.getElementById("l" + n.toString());
    let newValue = document.getElementById("i" + (n).toString());
    let newButton = document.getElementById("b" + (n).toString());

    newLabel.style.display = 'block';
    newValue.style.display = 'block';
    newButton.style.display = 'block';
}
</script>
</body>
